{% extends 'catalog/base.html' %}
{% block content %}
<h2>{{ book.title }}</h2>
<p>{{ book.description }}</p>
<p>Auteurs: {% for a in book.authors.all %}{{ a.fullname }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
<p>Disponibles: {{ book.available_copies }}</p>

{% if user.is_authenticated %}
  <a href="{% url 'request_borrow' book.pk %}">Demander emprunt</a>
{% else %}
  <p><a href="{% url 'login' %}">Connectez-vous</a> pour emprunter ou réserver.</p>
{% endif %}

{% if book.file %}
  <p><a href="{{ book.file.url }}" target="_blank">Télécharger / Lire</a></p>
{% endif %}
{% if book.cover %}
    <img src="{{ book.cover.url }}" style="max-width:200px;">
{% endif %}

{% endblock %}
